# Aim: Perform Market Basket Analysis using Aprior Algorithm

In [ ]:
! pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\dsai\anaconda3\lib\site-packages (0.22.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\dsai\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in c:\users\dsai\anaconda3\lib\site-packages (from mlxtend) (61.2.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\dsai\anaconda3\lib\site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\dsai\anaconda3\lib\site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\dsai\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\dsai\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\dsai\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dsai\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\dsai\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dsai\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dsai\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dsai\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\dsai\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dsai\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\dsai\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\dsai\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dsai\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
data =[
    ['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
    ['Chips','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
    ['Milk','Corn Flour','Sweet Corn','Kidney Beans','Yogurt'],
    ['Milk','Onion','Spring Onion','Kidney Beans','Ice Cream','Eggs']
]

In [ ]:
data

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Chips', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Corn Flour', 'Sweet Corn', 'Kidney Beans', 'Yogurt'],
 ['Milk', 'Onion', 'Spring Onion', 'Kidney Beans', 'Ice Cream', 'Eggs']]

In [ ]:
type(data)

list

In [ ]:
te = TransactionEncoder()
te_array = te.fit(data).transform(data)
te_array

array([[False, False,  True, False,  True,  True,  True,  True, False,
        False,  True],
       [ True, False,  True, False,  True, False,  True,  True, False,
        False,  True],
       [False,  True, False, False,  True,  True, False, False, False,
         True,  True],
       [False, False,  True,  True,  True,  True, False,  True,  True,
        False, False]])

In [ ]:
df = pd.DataFrame(te_array,columns=te.columns_)
df

,Chips,Corn Flour,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Spring Onion,Sweet Corn,Yogurt
0,False,False,True,False,True,True,True,True,False,False,True
1,True,False,True,False,True,False,True,True,False,False,True
2,False,True,False,False,True,True,False,False,False,True,True
3,False,False,True,True,True,True,False,True,True,False,False

In [ ]:
#support
freq_item = apriori(df,min_support=0.6, use_colnames=True)
freq_item

    support                     itemsets
0      0.75                       (Eggs)
1      1.00               (Kidney Beans)
2      0.75                       (Milk)
3      0.75                      (Onion)
4      0.75                     (Yogurt)
5      0.75         (Eggs, Kidney Beans)
6      0.75                (Onion, Eggs)
7      0.75         (Milk, Kidney Beans)
8      0.75        (Onion, Kidney Beans)
9      0.75       (Kidney Beans, Yogurt)
10     0.75  (Onion, Eggs, Kidney Beans)

In [ ]:
# Association Rule mining
arm = association_rules(freq_item,metric='confidence',min_threshold=0.7)
arm

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Eggs),(Kidney Beans),0.75,1.00,0.75,1.00,1.000000,0.0000,inf,0.0
1,(Kidney Beans),(Eggs),1.00,0.75,0.75,0.75,1.000000,0.0000,1.0,0.0
2,(Onion),(Eggs),0.75,0.75,0.75,1.00,1.333333,0.1875,inf,1.0
3,(Eggs),(Onion),0.75,0.75,0.75,1.00,1.333333,0.1875,inf,1.0
4,(Milk),(Kidney Beans),0.75,1.00,0.75,1.00,1.000000,0.0000,inf,0.0
5,(Kidney Beans),(Milk),1.00,0.75,0.75,0.75,1.000000,0.0000,1.0,0.0
6,(Onion),(Kidney Beans),0.75,1.00,0.75,1.00,1.000000,0.0000,inf,0.0
7,(Kidney Beans),(Onion),1.00,0.75,0.75,0.75,1.000000,0.0000,1.0,0.0
8,(Kidney Beans),(Yogurt),1.00,0.75,0.75,0.75,1.000000,0.0000,1.0,0.0
9,(Yogurt),(Kidney Beans),0.75,1.00,0.75,1.00,1.000000,0.0000,inf,0.0
10,"(Onion, Eggs)",(Kidney Beans),0.75,1.00,0.75,1.00,1.000000,0.0000,inf,0.0
11,"(Onion, Kidney Beans)",(Eggs),0.75,0.75,0.75,1.00,1.333333,0.1875,inf,1.0
12,"(Eggs, Kidney Beans)",(Onion),0.75,0.75,0.75,1.00,1.333333,0.1875,inf,1.0
13,(Onion),"(Eggs, Kidney Beans)",0.75,0.75,0.75,1.00,1.333333,0.1875,inf,1.0
14,(Eggs),"(Onion, Kidney Beans)",0.75,0.75,0.75,1.00,1.333333,0.1875,inf,1.0
15,(Kidney Beans),"(Onion, Eggs)",1.00,0.75,0.75,0.75,1.000000,0.0000,1.0,0.0

In [ ]:
#We can use iloc function too
rule = arm[['antecedents','consequents','support','confidence']]    #Follows cummutative property
rule

              antecedents            consequents  support  confidence
0                  (Eggs)         (Kidney Beans)     0.75        1.00
1          (Kidney Beans)                 (Eggs)     0.75        0.75
2                 (Onion)                 (Eggs)     0.75        1.00
3                  (Eggs)                (Onion)     0.75        1.00
4                  (Milk)         (Kidney Beans)     0.75        1.00
5          (Kidney Beans)                 (Milk)     0.75        0.75
6                 (Onion)         (Kidney Beans)     0.75        1.00
7          (Kidney Beans)                (Onion)     0.75        0.75
8          (Kidney Beans)               (Yogurt)     0.75        0.75
9                (Yogurt)         (Kidney Beans)     0.75        1.00
10          (Onion, Eggs)         (Kidney Beans)     0.75        1.00
11  (Onion, Kidney Beans)                 (Eggs)     0.75        1.00
12   (Eggs, Kidney Beans)                (Onion)     0.75        1.00
13                (Onion)   (Eggs, Kidney Beans)     0.75        1.00
14                 (Eggs)  (Onion, Kidney Beans)     0.75        1.00
15         (Kidney Beans)          (Onion, Eggs)     0.75        0.75